<div class="menu"><app-menu></app-menu></div>





<div class="content">
  <div class="header"><app-header></app-header></div>

  <h1>Angular</h1>
  <br>
  <p>Ya no sé si puedes escucharme, pero desde aquí</p>
  <p>Te grito ésta canción</p>
    <p>Es tu canción</p>
    <p>Es tu canción</p>
    
    <p>Todavía recuerdo nuestras noches</p>
    <p>Nuestras tardes</p>
    <p>Nuestros días</p>
    <p>Todas esas madrugadas que</p>
    <p>Paseábamos sin guía</p>
    <p>Por toda la ciudad</p>

    <div class="footer"><app-footer></app-footer></div>
    
</div>






<router-outlet></router-outlet>

